In [25]:
# wEEK1 - Methods

animal = 'lion'
week = ['monday','tuesday','wednesday','thursday','friday','saturday','sunday']

a = animal.upper()
b = animal.lower()
c = animal.endswith('n')
d = animal.startswith('t')
e = animal.title()
f = animal.replace('lion','python')
g = animal.index('o')
h = animal.isdigit()
i = animal.encode()
j = animal.count('n')

print(a,b,c,d,e,f,g,h,i,j)

LION lion True False Lion python 2 False b'lion' 1

In [2]:
# wEEK2 - 1. Write a program which asks for a number. If number is even, print 'Even', else print 'Odd'.
         # 2. Write a program to print counting from 1-10.
         # 3. Write a program to find those numbers which are divisible by 7 and multiples of 5, between 1500 and 2700 (both included).

In [4]:
#1a

inp = int(input('Enter a number\n:'))
if inp%2==0:
    print('Even')
else:
    print('Odd')

Enter a number
:20
Even

In [5]:
#1b
inp = int(input('Enter a number\n:'))
if inp%2==0:
    print('Even')
else:
    print('Odd')

Enter a number
:23
Odd

In [6]:
#2 Using for loop.

for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [8]:
#2 alternatively, using while loop.

n = 1
while n < 11:
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9
10

In [9]:
#3

for num in range(1500,2701):
    if num%7 == 0 and num%5 == 0:
        print(num)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [47]:
count = 0
total = 0
for num in range(1500,2701):
    if num%7 == 0 and num%5 == 0:
        count = count + 1
        total = total + num
print('Count =',count)
print('Total =',total)

Count = 35
Total = 73500

In [50]:
# Alternatively,

count = 0
total = 0
for num in range(1500,2701):
    if num%7 == 0 and num%5 == 0:
        count = count + 1
        total = total + num
        print(count)
print('Total =',total)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
Total = 73500

In [12]:
# Week3 1. Write a program to sum all the items in A.
       #2. Write a program to perform the below functions on the given list (Months).

In [28]:
#1a

A = [5,8,15,7,3]
print(sum(A))

38

In [24]:
#1b Alternatively,

count = 0
total = 0
for obj in A:
    total = total + obj
    print(total)

5
13
28
35
38

In [27]:
#1b2

count = 0
total = 0
for obj in A:
    print(total)
    total = total + obj
print('Total =',total)

0
5
13
28
35
Total = 38

In [28]:
#2

Months = ['January','February','DSN','March','April','May','June','July','August','September','October','November']

Months_incr = Months.sort()
print(Months)

['April', 'August', 'DSN', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [31]:
# Using insert(index,'object') to add to an existing list.

Months.insert(2,'December')
print(Months)

['April', 'August', 'December', 'DSN', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [32]:
# using reverse to reverse the elements of the list.

Months.reverse()
Months

['September',
 'October',
 'November',
 'May',
 'March',
 'June',
 'July',
 'January',
 'February',
 'DSN',
 'December',
 'August',
 'April']

In [33]:
# Removing 'DSN' from the list.

Months.pop(9)
Months

['September',
 'October',
 'November',
 'May',
 'March',
 'June',
 'July',
 'January',
 'February',
 'December',
 'August',
 'April']

In [43]:
# Or

Monthey = ['January','February','DSN','March','April','May','June','July','August','September','October','November']
del Monthey[2]
Monthey

['January',
 'February',
 'March',
 'April',
 'May',
 'June',
 'July',
 'August',
 'September',
 'October',
 'November']

In [44]:
# Or

Monthey.remove('June')
Monthey

['January',
 'February',
 'March',
 'April',
 'May',
 'July',
 'August',
 'September',
 'October',
 'November']